td{
	padding-left: 20px;
}
#height{
	height:30px;
}
#profileTable{
	
	width:85%;
	height:auto;
	border:0;
}
#profileDiv{
	border: 2px solid #0b3262;
	border-radius:10px;
}

 .btn-primary
      {
        background-color:#0b3262;
   }

 .img-thumb
 {
 	display:inline;
 	height:200px;
 	width:200px;
 }
 .answer_list
 {
	border-radius:15px;
	text-align:left;
	display:none;
	margin-left:95px;
	width:637px;  
 }

@media only screen (min-width: 768px) and (max-width:1200px) {
      .person , .answer_list
      {
        margin-left: 110px;
      }

@media only screen (min-width:0px) and (max-width: 767px){
      .person , .answer_list
      {
        margin-left: 500px;
      }